Repository hugocaillard/stacks-core, changes with the owners that CODEOWNERS names for each.
All owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team, @stacks-network/blockchain-team-signer, @stacks-network/blockchain-team-ci

feat: add devnet tweaks
  stackslib/src/burnchains/bitcoin/indexer.rs
  stackslib/src/burnchains/mod.rs
  stackslib/src/core/mod.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/config.rs
Owners: @stacks-network/blockchain-team-codeowners

feat: given a MARF key constructed client side, retrieve clarity value
  stackslib/src/net/api/getclaritymarfvalue.rs
  stackslib/src/net/api/mod.rs
  stackslib/src/net/httpcore.rs
Owners: @stacks-network/blockchain-team-codeowners

feat: rpc endpoint to retrieve clarity metadata
  clarity/src/vm/representations.rs
  stackslib/src/net/api/getclaritymetadata.rs
  stackslib/src/net/api/mod.rs
  stackslib/src/net/api/tests/getclaritymarfvalue.rs
  stackslib/src/net/api/tests/getclaritymetadata.rs
  stackslib/src/net/api/tests/mod.rs
  stackslib/src/net/httpcore.rs
Owners: @stacks-network/blockchain-team-codeowners

docs: add get_clarity_mark_value and get_clarity_metadata documentation
  docs/rpc-endpoints.md
  docs/rpc/api/core-node/get-clarity-marf-value.example.json
  docs/rpc/api/core-node/get-clarity-marf-value.schema.json
  docs/rpc/api/core-node/get-clarity-metadata.example.json
  docs/rpc/api/core-node/get-clarity-metadata.schema.json
  docs/rpc/openapi.yaml
Owners: @stacks-network/blockchain-team, @stacks-network/blockchain-team-codeowners

refactor: improve clarity_mark_key and clarity_metadata request parsing
  clarity/src/vm/representations.rs
  stackslib/src/net/api/getclaritymarfvalue.rs
  stackslib/src/net/api/getclaritymetadata.rs
  stackslib/src/net/api/tests/getclaritymarfvalue.rs
  stackslib/src/net/httpcore.rs
Owners: @stacks-network/blockchain-team-codeowners

refactor: switch back dependendencies to workspace path
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  clarity/Cargo.toml
  libsigner/Cargo.toml
  libstackerdb/Cargo.toml
  pox-locking/Cargo.toml
  stacks-signer/Cargo.toml
  stackslib/Cargo.toml
  testnet/stacks-node/Cargo.toml
Owners: @stacks-network/blockchain-team, @stacks-network/blockchain-team-codeowners

feat: add devnet tweaks
  stackslib/src/burnchains/bitcoin/indexer.rs
  stackslib/src/burnchains/mod.rs
  stackslib/src/config/mod.rs
  stackslib/src/core/mod.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
Owners: @stacks-network/blockchain-team-codeowners

feat: add devnet tweaks
  stackslib/src/burnchains/bitcoin/indexer.rs
  stackslib/src/burnchains/mod.rs
  stackslib/src/core/mod.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
Owners: @stacks-network/blockchain-team-codeowners

refactor: replace async_h1 with hyper
  Cargo.lock
  testnet/stacks-node/Cargo.toml
  testnet/stacks-node/src/monitoring/prometheus.rs
  testnet/stacks-node/src/tests/nakamoto_integrations.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team

refactor: use tiny_http in monitoring server
  Cargo.lock
  stacks-node/Cargo.toml
  stacks-node/src/monitoring/mod.rs
  stacks-node/src/monitoring/prometheus.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @stacks-network/blockchain-team-codeowners will be requested for
# review when someone opens a pull request.
* @stacks-network/blockchain-team-codeowners

# Generic file extensions that shouldn't require much scrutiny. Anyone with write access to the repo may approve a PR
*.md @stacks-network/blockchain-team
*.yml @stacks-network/blockchain-team
*.yaml @stacks-network/blockchain-team
*.txt @stacks-network/blockchain-team
*.toml @stacks-network/blockchain-team

# Signer code
libsigner/**/*.rs @stacks-network/blockchain-team-signer
stacks-signer/**/*.rs @stacks-network/blockchain-team-signer

# CI workflows
/.github/workflows/ @stacks-network/blockchain-team-ci
/.github/actions/ @stacks-network/blockchain-team-ci
